{% extends 'base.html' %}
{% block main %}
  <section id="about">
    <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">About</h2>
              <h3 class="section-subheading text-muted">Learn about my skills, philosophy and my timeline.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                    <img class="img-circle img-responsive" src="{{img}}/about/1.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>1992-2009</h4>
                    <h4 class="subheading">My Beginning</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Hello, My name is Gaurav Goyal. I am a software developer with good user interface developer skills (full stack developer). I was born in April, 1992 and raised in a small but beautiful town. I finished my secondary school in 2007 from <a href="http://www.davsurajpur.org/">D.A.V, surajpur</a> and finished my Non-Medical in year 2009 form <a href="http://www.gmsss19.in/">GMSSS-19, Chandigarh!</a> </p> 
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image" id="graduation-image">
                  <img class="img-circle img-responsive" src="{{img}}/about/2.gif" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h4>2009-2011</h4>
                      <h4 class="subheading">Graduation</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">After my high school in persued my Bachlores Degree in Computer Science from <a href="">Chitkara University</a>. I finished my deegree in 2013 developing basic skills neccesasary to be a software developer which included knowladge of various development languages like C, C++ and building cruosity to gain more knowledge about IT World!</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="img-circle img-responsive" src="{{img}}/about/3.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>May 2013 - Febuary 2014</h4>
                    <h4 class="subheading">Freelancing</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">After Graduation I started my training unde a free lancer. I started learing Python and User Interface development with Javascript, Html5 and css3. I also started to use python frameworks like Flask and django. In this amount of time i did many projects improving my skills to become better software engineer. I developed keen intrest in python and its web frameworks and started my carrer as a web developer!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image" id="openlabs-image">
                  <img class="img-circle img-responsive" src="{{img}}/about/4.png" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>March 2014 - Octuber 2014</h4>
                    <h4 class="subheading">Carrer at Openlabs</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Afetr experience in free lancing i joined a start up named <a href="https://www.openlabs.co.in">Openlabs</a>. They worked on ERP solution named Tryton and used python Framework as Nereid. At my time in openlabs i was working as a full stack developer for their e-commerce development. They worked on opensource and major of their projects are opensource. One of my favourate project was <a href="https://github.com/openlabs/nereid-webshop"> Nereid Webshop</a>. It was a skeleton of e-commerce store made in nereid and tryton. With help of nereid webshop one developer can make a working e-commerce portal. I developed ability to analize problem and find generic solution for that problem!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <a href="contact.html">
                  <div class="timeline-image">
                    <h4> Click 
                        <br>to Be Part
                        <br>Of My
                        <br>Story!</h4>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </section>
{% endblock main %}