{% extends 'base.html' %}
{% block main %}
  <section class="portfolio-main">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="img-circle">
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12 heading">
                  <p>Hello,</p>
                  <span>a bit about me</span>
                </div>
              </div>
              <div class="circles">
                <div class="col-md-3 col-sm-3 col-xs-3 img-circle my-resume-c1">
                  <div class="img-circle my-resume-c2">
                     <p>My Resume<p>
                  </div>
                </div>


                <div class="col-md-3 col-sm-3 col-xs-3 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 img-circle my-work-c1">
                  <div class="img-circle my-work-c2">
                     <p>My Work<p>
                  </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-3 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 img-circle my-skills-c1">
                  <div class="img-circle my-skills-c2">
                      <p>My Skills<p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-11 home-about-me">
                  <p>I am a  Python developer offering over 1 year of experience on both client and server sides in web-development. I have advanced skills in Python frameworks (Flask, Django and Nereid),  MySQL, Javascript, HTML, Jquery, and CSS<br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                </div>
                <div class="col-md-11 hire-btn pad-top-10">
                  <a href="#" class="btn btn-block btn-primary"><span class="pull-left">Discuss your project with me Today</span> <i class="fa fa-arrow-circle-right pull-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock main %}